<script type="text/javascript">
  setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  }, 0);

  setTimeout(function sunrise () {
    document.getElementsByClassName('sendform')[0].style.backgroundColor = '#118798';
  }, 0);

</script>


<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('A Bitcoin Cash Testnet Faucet.') %></h1>
    <h3 class="container">You're can get here cash test coins</h3>
  </div>
  <h1 class="container">Transaction sent</h1>
  <div class="main container clearfix">
    <div >



    <div style="text-align: left ; display: block;" class="sendform ">
      <h2 class="transaction" >To: <div class="code" style="display: inline-block; font-size:0.6em;">mvNuVGB5gAuVEKix2GdSnXLeMoJfFwxGTb</div></h2>


      <h2 class="transaction" >Amount: <div class="code" style="display: inline-block;">10000</div> Satoshi</h2>


      <h2 class="transaction" >Transaction hash: </h2>
      <div class="code">9fe744315aad2cb843c330e33621ea22d4db97116332f344d5707adce922c220</div>
      <h2 class="transaction" >Raw Transaction: </h2>
      <div class="code">020000004f75a974ad55d84ce34a6f7a1b51fba0dcca5cc08f4debd6a0a05f2a1d9a3e023bb13029ce7b1f559ef5e747fcac439f1455a2ec7c5f09b72290795e70665044a00a3f8adfa1a83345932118319385fc7241826d304b81554b66c6ad553f34ed020000001976a914b563d53da25f1d3d05c4fcc6b602dceb4d532b9088acb8e6010000000000ffffffff75cb96cb387b781f5cb777396f88348a391f2ed8bf2b7844fc0450bed77a1adc0000000041000000</div>
      <div class="container" id="raw-transaction">

      </div>


    </div>
    </div>
  </div>
</div>
